.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  opacity: 1;
  background-image: url("./assets/background.jpg");
  padding-top: 3rem;
  position: relative;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

.App-header::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.2);

}

.background{
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white; 
}

.background_be {
  opacity: 0.7;
}

button{
  background: none;
  border: none;
  font-size: 25px;
}

.App-link {
  color: #61dafb;
}


.about__container{
  display: grid;
  grid-template-columns: 30% 40%;
}

.about__me{
  display: grid;
  text-align: center;
  color: black;
  padding-bottom: 10px;
}

.search_p{
  color: black;
  text-align: left;
  padding-left: 4rem;
  font-size: 30px;
  position: relative;
}

.cards{
  padding-left: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  width: 30rem;
}

.card{
  margin: 5px;
  border: 3px solid transparent;
  border-color: #cc5d6d	;
  border-radius: 10rem;
  text-align: center;
  position: relative;
  width: 100%;
}

.card img{
  border-radius: 200px;
  width: 12rem;
  height: 9rem;
}

.search{
  display: flex;
  padding-left: 50px;
  align-items: center;
  text-align: left;
}

.search li {
  list-style: none;
  position: relative;
  padding-left: 20px;
}

.list {
  margin-left: 20px;
  margin-right: 480px;
  margin-bottom: 200px;
  aspect-ratio: 1/1;
  padding-left: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  background-position: center;
  background-size: cover;
  position: relative;
  grid-template-columns: 30% 50%;
}

.list_card {
  display: grid;
  grid-template-columns: 30% 40%;
}

.title {
  color: white;
  font-size: 30px;
  font: 50px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  position: relative;
}

.subtitle {
  font-family: 'Caveat', cursive;
  font-size: 30px;
  text-align: left;
  color: white;
}

.subsubtitle {
  font-family: 'Caveat', cursive;
  font-size: 25px;
  text-align: left;
  color: black;
}

.calen img{
  width: 30rem;
  height: 15rem;
}

.column{
  display: grid;
  position: relative;
}

.disk {
  position: relative;
  margin-left: 50rem;
}

.disk img {
  
  width: 30rem;
  height: 25rem;
}
